* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
	border: none;
    background-color: transparent;
    user-select: none;
}
html, body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-flow: column nowrap;
}
body * {
    display: block;
    touch-action: none;
    font: 1rem 'Roboto';
}

#topbar {
    display: flex;
    flex-flow: row nowrap;
}

.popup-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
}
.popup {
    max-height: 80%;
    max-width: 80%;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 1rem 0.1rem gray;
}
.popup-hdr, .popup-action-btn {
    padding: 0.6rem;
    background-color: rgb(210,210,210);
}

.optionslist {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: rgb(255,255,255);
}
.optionslist>li {
    display: flex;
    padding: 0.2rem;
    background-color: rgb(255,255,255);
}
.optionslist>li>* {
    padding: 0.3rem;
    flex: 1 1 auto;
}
.optionslist>li input {
    width: 8rem;
    flex: 0 0 auto;
    background-color: rgb(220,220,220);
}

#svgout {
    flex: 1 1 0;
}

#toolbar {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0;
    overflow-x: auto;
    padding: 0.3rem;
    background-color: rgb(200,200,200);
}
#toolbar>li {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.1rem;
}
#toolbar>li>* {
    padding: 0.2rem;
}
#toggleoptions {
    padding: 0.3rem;
    background-color: rgb(200,200,200);
}
