:root {
    --toolbar-intraspacing: 0.3rem;
    --colour-toolbar-background: rgb(220,220,220);
    --colour-toolbar-divider: rgb(180,180,180);
    --colour-toolbar-hdr: rgb(140,140,140);
    --colour-toolbar-hilite: rgb(190,190,190);
    --colour-toolbar-text: rgb(80,80,80);
}
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
	border: none;
    background-color: transparent;
}
html, body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
body * {
    display: block;
}

/*
    //                        toolbarDivider
    //                          |
    .-toolbarCollection---------|----------------------.
    | .-toolbar-------------. .-|-. .-toolbar--------. |
    | | [toolbarHdr]        | | V | | [toolbarHdr]   | |
    | | .-toolbarItems----. | |   | | .toolbarItems. | |
    | | | .---..---..---. | | |   | | | .---..---. | | |
    | | | | A || B || C | | | |   | | | | D || E | | | |
    | | | '---''---''---' | | |   | | | '---''---' | | |
    | | '-----------------' | |   | | '------------' | |
    | '---------------------' '---' '----------------' |
    '--------------------------------------------------'
*/
.toolbarCollection {
    /* whole toolbar is fixed relative to viewport */
    position: fixed;
    height: max-content;
    width: max-content;
    /* flex items to control their sizes */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    /* apply padding around items */
    padding: var(--toolbar-intraspacing);

    background-color: var(--colour-toolbar-background);
    border-radius: var(--toolbar-intraspacing);
    box-shadow: 0 0 0.5rem 0rem rgb(80, 80, 80);
}
.toolbarDivider {
    /* height fit container, left-right set margin equal to parent's padding */
    align-self: stretch;
    margin: 0 var(--toolbar-intraspacing);

    width: 3px;
    background-color: var(--colour-toolbar-divider);
    border-radius: 0.1rem;
}
.toolbarHdr {
    /* text settings for toolbar header */
    user-select: none;
    text-transform: capitalize;
    font: bold small-caps xx-small sans-serif;
    color: var(--colour-toolbar-hdr);

    padding: 0.1rem;
}
.toolbarItems {
    /* flex items to control their sizes */
    display: flex;
    align-items: flex-start;
}
/* select all except first child of toolbarItems */
.toolbarItems > *:nth-child(n+2) {
    margin-left: var(--toolbar-intraspacing);
}
.toolbarItem {
    color: var(--colour-toolbar-text);
    padding: var(--toolbar-intraspacing);
    text-transform: capitalize;
    font: bold medium sans-serif;
    border-radius: var(--toolbar-intraspacing);
}
.toolbarItem:hover {
    background-color: var(--colour-toolbar-hilite);
}
